.container {
  display: grid;
  grid-gap: 5px;
  width : 90%;
  grid-template-columns: repeat(12, minmax(auto, 1fr));
  grid-template-rows : repeat(22, minmax(100px, auto));
}

.logo {
  display :  flex;
  justify-content: center;
  align-items: center;
  grid-column: span 6;
  grid-row : span 4;
}

.nav , .sbf { 
  grid-column: span 6;
  grid-row : span 4;
}

.empty {
  grid-column: span 5;
}
.downArrow {
  grid-column: span 1;
}
.sqr {
  grid-column: span 6;
  grid-row :  5 / 8;
}
.bigsqr {
  grid-column: 1/7;
  grid-row : 6 / 10;
}
.hosqr {
  grid-column: span 6;
  grid-row : span 5;
}
.smsqr {
  grid-column: span 3;
  grid-row : span 3;
}
.lb {
  grid-column: span 5;
  grid-row : span 3;
}

